extends layout

block content
    h1= "Nie udało się utworzyć " + variant
    h2= "Oto lista wykrytych problemów:"
    p= problems
    button(type='button', onclick='window.location.href="/"') Wróć na stronę główną
    if variant == "przetargu"
        button(type="button", onclick='window.location.href="/tender/incoming"') Przejdź do nadchodzacych przetargów
    if variant == "oferty"
        button(type="button", onclick='window.location.href="/tender/current"') Przejdź do aktywnych przetargów
