extends layout

block content
  button(type='button', onclick='window.location.href="/"') Strona Główna
  h1 Witamy w serwisie przetargowym TenderWeb
  //h1= title
  //p Welcome to #{title}
  p W niniejszej aplikacji możesz zobaczyć aktywne oraz zakończone przetargi,
  p zainicjować procedurę przetargową, bądź też złożyć ofertę do odpowiedniego przetargu.
  p Naciśnij jeden z przycisków poniżej, aby przejść do odpowiedniego modułu.
  button(type="button", onclick='window.location.href="/tender/current"') Aktywne Przetargi
  button(type="button", onclick='window.location.href="/tender/incoming"') Nadchodzące Przetargi
  button(type="button", onclick='window.location.href="/tender/archive"') Archiwalne Przetargi
  p
  p " "
  button(type="button", onclick='window.location.href="/tender/incoming/new"') Zainicjuj Przetarg
