extends layout

block content
    h1 Niestety...
    p Nie znaleziono żadnych #{variant} przetargów
    button(type='button', onclick='window.location.href="/"') Wróć na stronę główną
    //if variant==="aktywnych"
        button(type='button', onclick='window.location.href="/"') Wróć na stronę główną
